section#cook {
  background-color: #fff9e2;
  height: 100%;
  position: relative;
  z-index: 1;
}
section#cook .wrap {

  position: relative;
}

.middle{
  background: linear-gradient(#fad9ba, #d9f6e1);
  position: absolute;
  width: 424px;
  top: -1px;
  right: 36%;
  z-index: 0;
  height: 500px;
  border-radius: 34px;
  padding: 29px;
}
.m_top{
  
  margin-bottom: 358px;
}
.m_top::after{
  content:"";
  background:linear-gradient(#fff, #feeeec);
  display: block;
  width: 482px;
  height:231px;
  position:absolute;
  
  left: 0px;
  top: 58%;
  border-radius: 31px;
}
.m_top h2{
  
  font-size: 26pt;
  margin-bottom: 50px;
}
.m_top p{
  color:#aaa6a1;
}
.m_bottom{
  
  position: relative;
  top: -73px;
}
.m_bottom p{ 
  display: flex !important;
  line-height: 1.5;
}
section#cook .wrap .cook_top{ 
  display: flex !important;
  padding-bottom: 86px;
}
.slick-slider{ 
  display: flex !important;
}
.slick-slide img{
  
  width: 255px;
  height: 255px;
  border-radius: 27px;
}
.cookslide{
  padding-bottom:50px;
  z-index: 1;
}
.cookslide .slick-current{
  padding: 0 80px;
}
section#cook .wrap .cookslide .slick-track{
  /*! width: auto !important; */
  display: flex;
}
section#cook .wrap .cook_top h2{
}

section#cook .wrap .cook_top h3{

}

section#cook .wrap .cook_top h3 a{
  border: 1px solid #dfdfdf;
  border-radius: 42px;
  width: 120px;
  height: 55px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
section#cook .wrap .cook_top h3 a::after{
  content:"";
  background-image: url(../img/right.png);
  background-repeat: no-repeat;
  background-size: 72%;
  background-position: center;
  display: block;
  width: 20px;
  height: 24px;
}

section#cook .wrap ul {

}
section#cook .wrap ul li {
  justify-content: center;
  align-items: center;
  display: flex;
}

section#cook .wrap ul li:nth-child(3){
  width: 460px;
  height: 610px;
  background-image: url(../img/bg_frame.png);
  display: flex;
  flex-direction: column;
}

section#cook .wrap ul li div.middle{
  width: 460px;
  height: 610px;
  justify-content: center;
  align-items: center;
}

section#cook .wrap ul li div.middle h2::before{
  content:"";
  background-image: url(../img/prev.png);
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  border: 1px solid #cccc;
  background-size: 30px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  position: absolute;
  top: 42%;
  left: 32%;
}

section#cook .wrap ul li div.middle h2{
  font-size: 36px;
}

section#cook .wrap ul li div.middle h2::after{
  content:"";
  background-image: url(../img/next.png);
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  border: 1px solid #cccc;
  background-size: 30px;
  background-repeat: no-repeat;
  background-color: beige;
  background-position: center;
  position: absolute;
  right: 35%;
  top: 42%;
}

section#cook .wrap ul li div.middle p.h6{
  display: block;
  width: 93%;
  color: #999;
  padding-bottom: 44px;
  line-height: 1.4;
  padding-top: 44px;
}

section#cook .wrap ul li div.middle a{
}

section#cook .wrap ul li div.middle p.p{
  padding: 40px;
  line-height: 1.6;
}

section#cook .wrap ul li a {

}
section#cook .wrap ul li a img{
  height: 255px;
  border-radius: 10%;
}
section#cook .wrap .cook_bottom{
} 
section#cook .wrap .cook_bottom::after{
  content:"";
  background-color: pink;
  width: 88%;
  height: 7%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  border-radius: 50px;
}
section#cook .wrap .cook_bottom img{
  z-index: 1;
}


section#cook .wrap .cook_bottom h2::after{
  content:"";
}

section#cook .wrap .cook_bottom h2 {
  color: white;
  position: absolute;
  width: 267px;
  height: 25px;
  left: calc(100% - 91%);
  bottom: 17px;
  z-index: 1;
  font-size: 25px;
}
section#cook .wrap .cook_bottom span {
  position: absolute;
  right: calc((100% - 88%) + 100px * 3);
  top: calc(100% - 4.5%);
  color: white;
  z-index: 1;
  height: 20px;
}

section#cook .wrap .cook_bottom h3{
  position: absolute;
  right: calc((100% - 88%) + 90px);
  top: calc(100% - 4.5%);
  color: white;
  z-index: 1;
  font-size: 21px;
  width: 118px;
  background-image: url(../img/write.png);
  background-repeat: no-repeat;
  background-position-x: 83%;
}
